doctype html
html
 head
  title #{title}
 body
  if message 
     h2(style="color: red;") #{message}   
  h1 FreeCodeCamp Api Basejump:

  h2 User stories
  ul
   li 
     p.
      I can pass a URL as a parameter and I will receive a 
      shortened URL in the JSON response.
   li 
     p.
       When I visit that shortened URL, it will redirect me to my original link.
  h2 Example creation usage
  p(style="color: red;").
    https://little-url-freecc.herokuapp.com/new/https://www.google.com
  p(style="color: red;").
    https://little-url-freecc.herokuapp.com/new/http://foo.com:80
  h2 Example creation output
  p(style="color: red;").
    { "original_url":"http://foo.com:80", "short_url":"https://little-url-freecc.herokuapp.com/8170" }
  h2 Usage:
  p(style="color: red;").
    https://little-url-freecc.herokuapp.com/2871
  h2 Will redirect to:
  p(style="color: red;").
    https://www.google.com/


